<div class="container">

    <h4 style="margin: 40px;">Voiture Maroc</h4>

    <div class="row">
        <div class="col-md-4 column productbox"  *ngFor="let item of cars" style="
        overflow: hidden;
    ">
            <img [src]="item.image" class="img-responsive" height="300px" >
            <div class="producttitle">{{ item.n_immatriculation }}</div>
            <div class="productprice">
                <div class="pull-right">
                    <span (click)="goToCarsDetail(item)" class="btn btn-danger btn-sm" role="button">
                        Read More ...</span>
                    </div>
                </div>
        </div>
    </div>

</div>