<div class="container">

    <h4 style="margin: 40px;">About  Car</h4>

    <div class="row">
        <div class="col-md-12 column productbox" >
            <img [src]="car.image" class="img-responsive" height="200px">
            <div class="producttitle">{{ car.n_immatriculation }}</div>
            <div class="producttitle">Marque : {{ car.marque }}</div>
            <div class="producttitle">nombre siege : {{car.n_sieges}}</div>
            <div class="producttitle">{{ car.couleur }}</div>
        </div>
    </div>

</div>


